/* файл для подключения шрифтов */

/* Jost Medium — Latin */
@font-face {
  font-family: Jost;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/jost-latin-500-normal.woff2') format('woff2'); /* немного видоизменил порядок подключения шрифтов, чтобы браузер не игнорировал русскую раскладку */
}

/* Jost Medium — Cyrillic */
@font-face {
  font-family: Jost;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/jost-cyrillic-500-normal.woff2') format('woff2');
}

/* Roboto Medium — Latin */
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/roboto-latin-500-normal.woff2') format('woff2');
}

/* Roboto Medium — Cyrillic */
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/roboto-cyrillic-500-normal.woff2') format('woff2');
}

/* Roboto Regular — Latin */
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/roboto-latin-400-normal.woff2') format('woff2');
}

/* Roboto Regular — Cyrillic */
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/roboto-cyrillic-400-normal.woff2') format('woff2');
}

/* Open Sans — Latin */
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/open-sans-latin-600-normal.woff2') format('woff2');
}

/* Open Sans — Cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/open-sans-cyrillic-600-normal.woff2') format('woff2');
}
