.wrapper {
  position: relative;
  display: inline-flex;
}

.dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-alarm);
}
