.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
  background-color: var(--color-background);
  position: relative;
}

.nav {
  display: flex;
  gap: 32px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.search {
  flex: 1;
  max-width: 600px;
  margin: 0 32px;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-roboto);
  font-size: 16px;
  color: var(--color-text);
  padding: 0;
}
