.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
  background-color: var(--color-background);
}

.nav {
  display: flex;
  gap: 32px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.left {
  display: flex;
  align-items: center;
  gap: 32px;
}
